.flashcard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1000px;
}

.flashcard {
    width: 200px; /* Define a fixed width or use percentages */
    height: 300px; /* Define a fixed height */
    margin: 10px; /* Optional, for spacing between cards */
    perspective: 1000px;
    position: relative;
}
.flashcard > div {
    backface-visibility: hidden;
    transition: transform 0.6s, box-shadow 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}


.front, .back {
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px; /* Fixed height for uniformity */
}

.front:hover, .back:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.back {
    background-color: rgba(0, 0, 0, 0.6); /* Translucent grey */
    color: #fff;
    transform: rotateY(180deg);
}

.back ul {
    list-style-type: disc; /* or any preferred style */
    padding: 0;
    margin: 0;
  }
  
  .back ul li {
    display: block; /* Ensures each list item is a block, making them stack vertically */
    margin-bottom: 10px; /* Adjusts space between list items */
  }
  

.flipped .front {
    transform: rotateY(-180deg);
}

.flipped .back {
    transform: rotateY(0deg);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #858585;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (min-width: 1024px) {
    /* Desktop grid layout 5x2 */
    .flashcard-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1023px) {
    /* Mobile grid layout 3x2 */
    .flashcard-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .flashcard:before {
        padding-top: 200%; /* Adjust for a more square aspect ratio on mobile */
    }
}


.flashcard {
    perspective: 1000px;
    position: relative;
    background: #fff; /* Card background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Card shadow */
}